body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  background-color: #1f2937;
  color: #eeeeee;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 44px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 20px;
}
/*find a better way to align header-content text with header-top text */
.header-content img {
  width: 500px;
  margin-top: 12px;
  margin-right: 64px;
}

.header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border: 5px solid darksalmon; */
  margin: auto;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
}

button {
  background: #3882f6;
  color: #eeeeee;
  font-size: 18px;
  font-weight: bold;
  padding: 8px 28px;
  border-radius: 8px;
  border: 0;
}

h3 {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bolder;
  margin: 0 0 0 60px;
  padding: 14px 24px;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

.header-content p {
  font-size: 18px;
  color: #e5e7eb;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  color: #1f2937;
  margin-bottom: 32px;
}

.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.image-section img {
  max-width: 100px;
  border: 4px solid salmon;
  border-radius: 9px;
  padding: 12px;
}

.image-section div:nth-child(3) img {
  max-width: 80px;
}

.image-section div:first-child img {
  max-width: 110px;
}